{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}MovieRec - Index{% endblock %}


{% block page_content %}
    <div class="page-header">
        <h1>Hello {% if current_user.is_authenticated %}{{ current_user.name }}{% else %}Stranger{% endif %} !</h1>
    </div>

    {{ wtf.quick_form(form) }}

    {% if movies %}
        <div class="container page-header bg-success">
            {% for movie in movies %}
                <div class="col-xs-6 col-md-3">
                    <img src="{{ movie.poster }}" class="img-rounded" width="120px">
                    <h5 class="text-primary">{{ movie.title }}</h5>
                    <h5 class="text-primary">{{ movie._id }}</h5>
                </div>
            {% endfor %}

        </div>
        {% else %}
        <h2 class="text-warning"> no result </h2>
    {% endif %}

    <h3 class="text-info">didn't find ? <a href="{{ url_for('main.add_new_movie') }}">ADD</a> </h3>
{% endblock %}