{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'utils.html' as utils %}


{% block title %}
    Movie - {{ movie.title }}
{% endblock %}

{% block page_content %}
    <div class="h1">
        <div>
            <img src="{{ movie.poster }}" width="120px">
            <h1 id="name">{{ movie.title }} ({{ movie.year }})</h1>
        </div>

    </div>

    <div>
        <form method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            {{ wtf.form_field(form.uid, disabled=True) }}
            {{ wtf.form_field(form.rating, type="number") }}
            {{ wtf.form_field(form.mid, disabled=True) }}
            {{ wtf.form_field(form.title) }}
            {{ wtf.form_field(form.content) }}
            {{ wtf.form_field(form.submit) }}
        </form>
    </div>

{% endblock %}