{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
User - {{ user.name }}
{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>{{ user.name }}</h1>
    </div>

    <table class="table table-responsive">
        <tr>
            <td>Email:</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>Confirmed:</td>
            <td>{{ user.confirmed }}</td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>{{ '男' if user.gender else '女' }}</td>
        </tr>
        <tr>
            <td>Interests:</td>
            <td>{{ user.interests }}</td>
        </tr>
        <tr>
            <td>Likes:</td>
            <td>
                {% for like in likes %}
                    <span class="text-primary">{{ like.type }}</span> {{ like.name }} @ {{ like.dt }}<br/>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Ratings:</td>
            <td>
                {% for rating in ratings %}
                    <span class="text-info">{{ rating.name }}  </span>
                    <span class="text-danger">{{ rating.uid }}  {{ rating.mid }}  {{ rating.rating }} </span>@ {{ rating.dt }}<br/>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Watch:</td>
            <td>
                {% for wt in wts %}
                    <span class="text-primary">{{ wt.type }}</span> {{ wt.name }} @ {{ wt.dt }}<br/>
                {% endfor %}
            </td>
        </tr>
    </table>
{% endblock %}