{% extends 'bootstrap/base.html' %}
{% macro popn(elems, n, attr=None) %}
{#    输出前n个元素(的attr属性)#}
    {% for elem in (elems | list)[:n] %}
        {{ elem[attr] if attr else elem }} /
    {% endfor %}
{% endmacro %}

{% macro duration(d) %}
    {% if d %}
        {{ d }} 分钟 /
    {% endif %}
{% endmacro %}

{% macro star(rating) %}
    {% set grade = ((rating.average | float)/2) | int %}
    <span class="text-danger">
        {% for i in range(grade) %}
            <span class="glyphicon glyphicon-star"></span>
        {% endfor %}
        {% for i in range(5 - grade) %}
            <span class="glyphicon glyphicon-star-empty"></span>
        {% endfor %}
    </span>
    {{ rating.average }} ({{ rating.rating_people }}人评分)
{% endmacro %}

{% macro name(names) %}
{#    TODO name 名字链接 建立view#}
    {% for name in names %}
        {{ name.name }}  {{ '/' if loop.index != loop.length }}
    {% endfor %}
{% endmacro %}

{% macro iter(items) %}
    {% for item in items %}
        {{ item }}  {{ '/' if loop.index != loop.length }}
{% endfor %}

{% endmacro %}



